#productPrice {
  width: 85%;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: black;
  margin-right: 5px;
}

#bid_button {
  position: relative;
}

#bid_button[disabled]::after {
  background-color: aliceblue;
}

#bid_button[title]:hover:after {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  content: attr(title);
  color: red;
}

/* Loading Spinner */
.loading__spinner {
  position: absolute;
  z-index: 2;
  width: 3.8rem;
}

.loading__spinner {
  display: inline-block;
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: rgb(var(--color-foreground));
  animation: dash 1.4s ease-in-out infinite;
}

@media screen and (forced-colors: active) {
  .path {
    stroke: CanvasText;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}

.loading__spinner:not(.hidden) + .cart-item__price-wrapper,
.loading__spinner:not(.hidden) ~ cart-remove-button {
  opacity: 50%;
}

.loading__spinner:not(.hidden) ~ cart-remove-button {
  pointer-events: none;
  cursor: default;
}
